.CardComarketItem .card-body {
	padding: 1.0rem 1.0rem 0rem 1.0rem;
}

.CardComarketItem .one-liner * {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.CardComarketItem .card-body .card-text {
	margin-bottom:0.5rem;	
}